
.titulo {
    text-align: center;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #0095ff96; 
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #1500b6;
}

h2 {
    font-size: 24px;
    color: #005f73;
    background-color: #d9f0ff;
    padding: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.imagem-centralizada img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 2px solid #888;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #caf0f8;
    font-weight: bold;
}

pre {
    background-color: #f1f1f1;
    padding: 10px;
    font-family: 'Courier New', monospace;
    width: fit-content;
    margin: 10px auto;
}
